<configuration scan="true">

    <property name="patternString" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%logger{0}] - %m%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="imotspot" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/imotspot.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./log/imotspot.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>${patternString}</pattern>
        </encoder>
    </appender>

    <logger name="com.imotspot.dashboard" additivity="true" level="debug"/>
    <logger name="com.imotspot.database" additivity="true" level="warn"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="imotspot"/>
    </root>
</configuration>